.hintBtn {
  padding: 6px 12px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;

  border: 2px dashed #4f46e5;
  background-color: #e0e7ff;
  color: hsl(244, 55%, 51%);

  align-self: flex-end;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hintBtn:hover {
  background-color: #c7d2fe;
  border-color: #4338ca;
}

.hintBtn:active {
  transform: scale(0.96);
}

.hintBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  border-color: #a1a1aa;
  background-color: #e5e7eb;
  color: #71717a;
}

.hintBtn:disabled:hover {
  background-color: #e5e7eb;
  border-color: #a1a1aa;
}

.hintBtn:disabled:active {
  transform: none;
}
