.clueWrapper {
  width: 100%;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #4f46e5;
}

.clueBox {
  width: 100%;
  padding: 16px 18px;
  border: 2px solid #a5b4fc;
  background-color: #e0e7ff;
  border-radius: 12px;

  color: #1e1b4b;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.5;

  box-shadow: 0 6px 18px rgba(79, 70, 229, 0.12);

  overflow-wrap: break-word;
}
